.App {
  text-align: center;
  /* margin-left: 100px; */
}

/* #form1 {
  margin-left: 100px;
} */

.row {
  color: rgb(61, 166, 131);
}

#body {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: red;
}